.landInContainer{
    padding: 10px;
    background-color: aliceblue;
}
input{
    display: inline;
    width:1100px;
    padding: 5px;
    border-radius: 5px;
}

.form{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left:70px ;
}